click
stups-cli-support>=1.1.20
stups-piu>=1.1.16
stups-senza>=2.1.104
stups-zign>=1.1.31
stups-pierone>=1.1.32
stups-fullstop>=1.1.31
stups-kio>=0.1.20
zalando-aws-cli>=1.2.4.22
zalando-kubectl>=1.10.4.47
